.value-title {
    height: 16px;
  font-family: SFUIText;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

label {
    height: 16px;
  font-family: SFUIText;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;

}
.column_label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon {
    height: 87px;
    width: 87px;
}